.aboutus{

    width:100vw;
    height:100vh;
    font-size: 1.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(8, 0, 48, 0.871);
    color: white;


}


.aboutuspara{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 0px;
    padding: 0px 50px;
    flex-direction: column;

}

.cookingi{
    height:30%;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

