.homedisplay{
    max-width:100vw;
    max-height:100vh;
    font-size: 1.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(8, 0, 48, 0.871);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.displayrecipe{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 0px;
    padding-top: 5px;
}
.searchrecipe{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchrecipe input{
    width: 400px;
    height: 45px;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 12px;
}

.recipesul{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
   
}

.recipesul .recipesli{
    text-decoration: none;
    height: auto;
    width: 300px;
    list-style-type: none;
    border: 5px solid #696969;
    padding: 10px 5px;
    line-height: 35px;
    background:  #ffffff; /* Slightly transparent background */
    color: #333333; /* Text color */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Initial shadow */
}
.recipesul .recipesli:hover {
    transform: translateY(-5px); 
    cursor: pointer;
    border-color: coral; 
}



.displaytitle{
    color: #008080;
}
.displayvarietyrecipe{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 0px;
    padding-top: 5px;
}

